<h4 class="ui center aligned medium icon header">
  <i class="red circular coffee icon"></i>
  Say something
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <i class="blue circular coffee icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                You added Elliot Fu to the group <a>Coworkers</a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <i class="orange circular coffee icon"></i>
            </div>
            <div class="content">
              Hello World!
            </div>
          </div>
          <div class="event">
            <div class="label">
              <i class="black circular coffee icon"></i>
            </div>
            <div class="content">
              Trust me I am an cebula men!
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Share something...">
              <i class="bordered inverted orange edit icon"></i>
            </div>
          </div>
        </form>
    </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox"> 
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item">
            Lukasz
          </a>
          <a class="item">
            Ania
          </a>
          <a class="item">
            Paweł
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
