<!-- prettier-ignore -->
<% if alert || notice %>
<div class="d-inline-block">
  <!-- prettier-ignore -->
  <%= render 'layouts/messages' %>
</div>
<!-- prettier-ignore -->
<% end %>

<% if @stock %>
<div class="card card-header d-inline-block mb-3">
  <!-- prettier-ignore -->
  <strong>Symbol: </strong>
  <!-- prettier-ignore -->
  <%= @stock.ticker %>
  <strong>Name: </strong>
  <!-- prettier-ignore -->
  <%= @stock.name %>
  <strong>Price: </strong>
  <!-- prettier-ignore -->
  <%= @stock.last_price %>
</div>
<% end %>
